/* .imageDiv {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
} */

* {
    top: 20px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

.imageDiv {
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  border: 8px solid Black;
  border-radius: 15px;
  text-align: center;
  background-color: white;
}

.img {
  max-width: 99.9%;
  align-self: center;
  /* left: 5px; */
  border-radius: 5px;
}

.landscape {
  max-width: 99.9%;
  align-self: center;
  /* left: 5px; */
  border-radius: 5px;
}

.postedBy {
  align-self: center;
  /* text-align: left; */
  /* bottom: 2px; */
}

.likesDiv {
  align-self: center;
  display: flex;
  flex-direction: column;
}

#likeSpan {
    text-align: center;
    /* right: 3px; */
}

.likeButton {
  /* left: 3px; */
  outline-style: none;
  color: rgb(211, 199, 202);
  font-size: xx-large;
  padding: 0px;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
  /* bottom: 10px */
}

.likeButton:hover {
  color: lightcoral
}

.likeButton:active {
  color: crimson;
}

.likedHeart {
  outline-style: none;
  color: crimson;
  font-size: xx-large;
  padding: 0px;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}

.likedHeart:hover {
  color: lightcoral
}


.commentsUl {
    list-style-type: none;
    align-self: center;
    margin-left: 0;
    padding-left: 0px;
  }

/* .commentsUl li {
    margin: 2px 0;
} */

/* .center{
    position:fixed;
    bottom:20px;
    left:20%;
    width:60%;
   
  } */

.commentForm {
  align-self: center;
}

.image-form {
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 0px;
    top: 0;
    left: 0;
    background:white;
    font-weight:bold;
}